<div class="container">
	<div class="blog-header">
		<div class="blog-title">
			<h1 class="blog-post-title">Restaurant Owner Dashboard</h1>
			<div class="lead blog-description">The latest information on TableTop</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 blog-main">
			<div class="blog-post">
				<h2 class="blog-post-title">Optimizing your deal clickthroughs!</h2>
				<p>
					The goal of this blogpost, and the Dashboard in general is to allow the Restauraunt Owner to stay up to date with the latest in advice from the TableTop team, along with viewing popular blog posts and other things they may find informative.
				</p>
			</div>
		</div>
	</div>	
</div>