<!-- <div ng-show="{{user.provider === 'password'}}"> -->

<!-- ************************************************************** -->
<!-- ************** SECTION: CREATAION & DISPLAY ************* -->

    <!-- Create new restaurants box-->
    <br>
    <div ng-click="instantiateRestaurant()" style="border: solid;" data-toggle="modal" data-target="#createRestaurantModal">
      <i style="margin: 15px;" class="fa fa-plus-circle fa-4x"><span> Create Restaurant</span></i>
    </div>
    <br>
    <!-- START previously created Restaurants Selectable -->
    <div ng-repeat="restaurant in restaurants" ng-animate="'animate'" ng-show="restaurantsLoaded">
      <div ng-click="selectRestaurant(restaurant)" style="border: solid;" data-toggle="modal" data-target="#updateRestaurantModal">
        <i style="margin: 15px;" class="fa fa-cutlery fa-4x"><span> {{restaurant.name}}</span></i>
        <div class="container"><strong>Address:</strong> {{restaurant.address}}</div>
        <div class="container"><strong>Phone #:</strong> {{restaurant.phoneNum}}</div>
        <img src="../images/rPlaceholder.png" width="205" height="146" style="float: right;  margin-top: -126px; margin-right: .5px;" >
        <br>
      </div>
      <br>
    </div>

  <!-- </div>   -->
    <!-- END previously created Restaurants Selectable -->

<!-- ************** SECTION: RESTAURANT CREATAION & DISPLAY ************* -->
<!-- ************************************************************* -->



<!-- ***************************************************************** -->
<!-- ************** SECTION: CREATE NEW RESTAURANT MODAL ************* -->

<!-- START Create New Restaurant Modal Template-->
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="createRestaurantModal" id="createRestaurantModal" aria-hidden="true">
    <div class="modal-dialog modal-lg md-effect-1">

      <div class="modal-content">

        <div class="modal-dismiss">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true" style="font-size: 40px; margin-right: 10px;" >&times;</span>
            <span class="sr-only">Close</span>
          </button>
        </div>

        <div class="row modalDetail" style="margin-right: 10px;">
          <form action="http://www.tabletopdine.com/insertRestaurant.php" method="post">
          <div class="col-xs-12 col-sm-6 col-md-6 detailLeft text-left">
            <div class="middle-allign" style="margin-left: 20px;">
              <h1 class="detailName">
                <input type="text" ng-model="selectedRestaurant.name" name="postTitle" placeholder="Name">
              </h1>
              <div class="detailDescription">
                <textarea class="form-control" name="description" ng-model="selectedRestaurant.description" placeholder="Description"></textarea>
              </div>
              <table class="detailTable table">
                <tbody>
                  <tr>
                    <td class="bolder">Type</td>
                    <td>
                      <input class="form-control" type="text" ng-model="selectedRestaurant.type" name="type" placeholder="Type">
                    </td>
                  </tr>
                  <tr>
                    <td class="bolder">Website</td>
                    <td>
                      <input class="form-control" type="text" ng-model="selectedRestaurant.website" name="website" placeholder="URL">
                    </td>
                  </tr>
                  <tr>
                    <td class="bolder">Address Line 1</td>
                    <td>
                      <input class="form-control" type="text" ng-model="selectedRestaurant.address1" name="contactStreet" placeholder="Address Line 1">
                    </td>
                  </tr>
                  <tr>
                    <td class="bolder">Address Line 2</td>
                    <td>
                      <input class="form-control" type="text" ng-model="selectedRestaurant.address2" name="address2" placeholder="Address Line 2">
                    </td>
                  </tr>
                  <tr>
                    <td class="bolder">City</td>
                    <td>
                      <input class="form-control" type="text" ng-model="selectedRestaurant.city" name="contactCity" placeholder="City">
                    </td>
                  </tr>
                  <tr>
                    <td class="bolder">State</td>
                    <td>
                      <input class="form-control" type="text" ng-model="selectedRestaurant.state" name="contactState" placeholder="State">
                    </td>
                  </tr>
                  <tr>
                    <td class="bolder">Zipcode</td>
                    <td>
                      <input class="form-control" type="number" ng-model="selectedRestaurant.zipcode" name="contactPostalCode" placeholder="Zipcode">
                    </td>
                  </tr>
                  <tr>
                    <td class="bolder">Email</td>
                    <td>
                      <input class="form-control" type="text" ng-model="selectedRestaurant.email" name="type" placeholder="Email">
                    </td>
                  </tr>
                  <tr>
                    <td class="bolder">Phone Number</td>
                    <td>
                      <input class="form-control" type="text" ng-model="selectedRestaurant.phoneNum" name="contactPhone" placeholder="Phone Number" >
                    </td>
                  </tr>
                </tbody>
              </table>
                <!-- START Error & Success Messages -->
                <div class="text-center missingFieldError" id="missingFieldError"></div>
                <!-- End Error & Success Messages -->

                <div class="modalButtonGroup" style="margin-bottom:20px; text-align:center;">
                  <button class="btn btn-warning" ng-click="createRestaurant(selectedRestaurant)">Create</button>
                </div>

              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 detailRight">
                <img src="../images/rPlaceholder.png" class="img-responsive" id="panoAdd">
                  <span id="upload-image"><strong>UPLOAD IMAGE</strong></span>
                  <span class="btn btn-default btn-file">
                    <input type="file" accept="image/*" capture="camera" id="file-upload-add">
                  </span>
                  <div id="spinAdd"></div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

<!-- ************** SECTION: CREATE NEW RESTAURANT MODAL ************* -->
<!-- ***************************************************************** -->

<!-- ***************************************************************** -->
<!-- ************** SECTION: ALREADY CREATED RESTAURANTS MODAL ************* -->

<!-- START Already Created Restaurant Modal Template-->
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="createRestaurantModal" id="updateRestaurantModal" aria-hidden="true">
    <div class="modal-dialog modal-lg md-effect-1">

      <div class="modal-content">

        <div class="modal-dismiss">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true" style="font-size: 40px; margin-right: 10px;">&times;</span>
            <span class="sr-only">Close</span>
          </button>
        </div>

        <form action="http://www.tabletopdine.com/insertRestaurant.php" method="post" onsubmit="return false">
          <div class="row modalDetail" style="margin-right: 10px;">
            <div class="col-xs-12 col-sm-6 col-md-6 detailLeft text-left">
              <div class="middle-allign" style="margin-left: 20px;">
                <h1 class="detailName">
                  <input type="text" ng-model="selectedRestaurant.name" name="name" placeholder="{{selectedRestaurant.name}}">
                </h1>
                <div class="detailDescription">
                  <textarea class="form-control" name="description" ng-model="selectedRestaurant.description" placeholder="{{selectedRestaurant.description}}"></textarea>
                </div>
                <table class="detailTable table">
                  <tbody>
                    <tr>
                      <td class="bolder">Type</td>
                      <td>
                        <input class="form-control" type="text" ng-model="selectedRestaurant.type" name="type" placeholder="Type">
                      </td>
                    </tr>
                    <tr>
                      <td class="bolder">Website</td>
                      <td>
                        <input class="form-control" type="text" ng-model="selectedRestaurant.website" name="website" placeholder="URL">
                      </td>
                    </tr>
                    <tr>
                      <td class="bolder">Address Line 1</td>
                      <td>
                        <input class="form-control" type="text" ng-model="selectedRestaurant.address1" name="address1" placeholder="Address Line 1">
                      </td>
                    </tr>
                    <tr>
                      <td class="bolder">Address Line 2</td>
                      <td>
                        <input class="form-control" type="text" ng-model="selectedRestaurant.address2" name="address2" placeholder="Address Line 2">
                      </td>
                    </tr>
                    <tr>
                      <td class="bolder">City</td>
                      <td>
                        <input class="form-control" type="text" ng-model="selectedRestaurant.city" name="city" placeholder="City" >
                      </td>
                    </tr>
                    <tr>
                      <td class="bolder">State</td>
                      <td>
                        <input class="form-control" type="text" ng-model="selectedRestaurant.state" name="state" placeholder="State" >
                      </td>
                    </tr>
                    <tr>
                      <td class="bolder">Zipcode</td>
                      <td>
                        <input class="form-control" type="text" ng-model="selectedRestaurant.zipcode" name="zipcode" placeholder="Zipcode" >
                      </td>
                    </tr>
                    <tr>
                      <td class="bolder">Email</td>
                      <td>
                        <input class="form-control" type="text" ng-model="selectedRestaurant.email" name="type" placeholder="Email">
                      </td>
                    </tr>
                    <tr>
                      <td class="bolder">Phone Number</td>
                      <td>
                        <input class="form-control" type="text" ng-model="selectedRestaurant.phoneNum" name="brand" placeholder="Phone Number" >
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!-- START Error & Success Messages -->
                <div class="text-center missingFieldError" id="missingFieldError"></div>
                <!-- End Error & Success Messages -->

                <div class="modalButtonGroup" style="margin-bottom:20px; text-align:center;">
                  <button class="btn btn-warning" ng-click="updateRestaurant(selectedRestaurant)">Update</button>
                </div>

              </div>
            </div>
          </form>
          <div class="col-xs-12 col-sm-6 col-md-6 detailRight">
              <img src="../images/rPlaceholder.png" class="img-responsive" id="panoAdd">
                <span id="upload-image"><strong>UPDATE IMAGE</strong></span>
                <span class="btn btn-default btn-file">
                  <input type="file" accept="image/*" capture="camera" id="file-upload-add">
                </span>
                <div id="spinAdd"></div>
          </div>

        </div>
      </div>

    </div>
  </div>

<!-- ************** SECTION: ALREADY CREATED RESTAURANTS MODAL ************* -->
<!-- ***************************************************************** -->
